<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-buttons slot="end" class="closemargin">
        <div (click)="closeModal()"><ion-icon name="close"></ion-icon></div>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Detalles gasolinera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label><span class="bolder">Id:</span> {{gasolinera.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Nombre gasolinera:</span> {{gasolinera.gasolinera}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio:</span> {{gasolinera.precio}}</ion-label>
    </ion-item>

  </ion-list>


</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="share(gasolinera)">
        <ion-icon slot="start" name="share-social"></ion-icon>
        <ion-label>Compartir</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addFavorito(gasolinera)">
        <ion-label>Favorito</ion-label>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>