<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-buttons slot="end" class="closemargin">
        <div (click)="closeModal()"><ion-icon name="close"></ion-icon></div>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{gasolinera["Rótulo"]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label><span class="bolder">Dirección:</span> {{gasolinera["Dirección"]}} ( {{gasolinera["Localidad"]}} - C.P.: {{gasolinera["C.P."]}} )</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasoleo A:</span> {{gasolinera["Precio Gasoleo A"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasoleo B:</span> {{gasolinera["Precio Gasoleo B"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Horario:</span> {{gasolinera["Horario"] || 'Información no disponible'}}</ion-label>
    </ion-item>


    <ion-item>
      <ion-label><span class="bolder">Precio Biodiesel:</span> {{gasolinera["Precio Biodiesel"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Bioetanol:</span> {{gasolinera["Precio Bioetanol"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gas Natural Comprimido:</span> {{gasolinera["Precio Gas Natural Comprimido"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gas Natural Licuado:</span> {{gasolinera["Precio Gas Natural Licuado"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gases licuados del petróleo:</span> {{gasolinera["Precio Gases licuados del petróleo"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasoleo Premium:</span> {{gasolinera["Precio Gasoleo Premium"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasolina 95 E5:</span> {{gasolinera["Precio Gasolina 95 E5"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasolina 95 E5 Premium:</span> {{gasolinera["Precio Gasolina 95 E5 Premium"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasolina 95 E10:</span> {{gasolinera["Precio Gasolina 95 E10"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasolina 98 E5:</span> {{gasolinera["Precio Gasolina 98 E5"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Gasolina 98 E10:</span> {{gasolinera["Precio Gasolina 98 E10"] || 'Información no disponible'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><span class="bolder">Precio Hidrogeno:</span> {{gasolinera["Precio Hidrogeno"] || 'Información no disponible'}}</ion-label>
    </ion-item>

  </ion-list>
  
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="share(gasolinera)">
        <ion-icon slot="start" name="share-social"></ion-icon>
        <ion-label>Compartir</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button (click)="addRemoveFavorito(gasolinera)">
        <ion-label>Favorito</ion-label> 
        <ion-icon [name]="isFavorite? 'star':'star-outline'" slot="end"></ion-icon>
      </ion-button>

      

    </ion-buttons>
  </ion-toolbar>
</ion-footer>